<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<title>FlightMap</title>
  <%= stylesheet_link_tag    "application", "font-awesome.min", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "OpenLayers", "flightMap", "bootstrap.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="init()">

<%= yield %>

</body>
</html>
